@font-face {
	font-family: "Marcellus SC", sans-serif;
	src: url("../fonts/MarcellusSC-Regular.eot");

	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Lt", sans-serif;
	src: url("../fonts/Roboto-Light.eot");

	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url("../fonts/Roboto-Regular.eot");

	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Marcellus SC";
	src: url("../fonts/MarcellusSC-Regular.ttf");
}

// USAGE
body {
	font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #878686b8;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(48, 47, 47, 0.879);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #bdbdbd;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield !important;
}
/*==================  GLOBLE CSS START  ==================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Marcellus SC", sans-serif;
	font-weight: normal;
	transition: all 0.3s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

input[type="submit"] {
	cursor: pointer;
}

html {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #000000;

	body {
		overflow-x: hidden;
		//padding: 20px;
		overflow-y: auto;

		background-color: #000000;
	}
}

canvas {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: grayscale(1);

	@media (max-width: 1024px) {
		display: none;
	}
}

.sec {
	position: relative;
	overflow: hidden;
}

//file uploader
.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 2;

	@media (min-width: 1140px) and (max-width: 1600px) {
		zoom: 85%;
	}

	.container {
		@media (min-width: 1140px) and (max-width: 1700px) {
			zoom: unset;
		}
	}

	@media (max-width: 1024px) {
		width: 100%;
	}
}
.number-wrapper {
	position: relative;
}

.number-wrapper:after,
.number-wrapper:before {
	position: absolute;
	right: 5px;
	width: 1.6em;
	height: 0.9em;
	font-size: 10px;
	pointer-events: none;
	background: #fff;
}

.number-wrapper:after {
	color: blue;
	content: "\25B2";
	margin-top: 1px;
}

.number-wrapper:before {
	color: red;
	content: "\25BC";
	margin-bottom: 5px;
	bottom: -0.5em;
}
.prod_list {
	display: flex;
	flex-flow: wrap;
	align-items: stretch;
	//	justify-content: space-between;
	list-style: none;

	@media (max-width: 1024px) {
		justify-content: start;
	}

	@media (max-width: 767px) {
		justify-content: center;
	}

	li {
		position: relative;
		padding: 60px 20px 30px;
		width: 22%;
		margin-left: 15px;
		margin-bottom: 20px;
		background-image: linear-gradient(#39393980, #00000080);
		border-radius: 30px;
		text-align: center;

		@media (max-width: 1024px) {
			width: 30%;
			margin-right: 10px;

			&:nth-child(3n) {
				margin-right: 0;

				@media (max-width: 767px) {
					margin-right: 20px;
				}
			}
		}

		@media (max-width: 767px) {
			width: 45%;
			margin-left: 10px;
			padding: 65px 15px 15px;
		}
		@media (max-width: 480px) {
			width: 100%;

			// &:nth-child(3n) {
			// 	margin-right: 0 !important;
			// }
		}

		.sale_label {
			background: #f3ac3b;
			border-radius: 5px;
			padding: 5px 10px;
			position: absolute;
			left: 20px;
			top: 20px;
		}

		.prod_img {
			height: 220px;
			width: 100%;
			margin-bottom: 15px;
			object-fit: cover;
			border-radius: 30px 30px 0;

			@media (max-width: 767px) {
				height: 230px;
			}
		}

		.prod_title {
			color: #fff;
			font-size: 16px;
			height: 60px;
		}

		.prod_price {
			color: #fff;
			font-size: 14px;

			.curreny {
				margin-right: 5px;
			}
		}
	}
}
.d-none {
	display: none !important;
}
.d-sm-none {
	@media (max-width: 767px) {
		display: none;
	}
}
.d-md-block {
	@media (min-width: 767px) {
		display: block;
	}
}
.d-block {
	display: block;
}
/*==================  GLOBLE CSS END  ==================*/
